# 의존성 폴더
/node_modules

# 빌드 결과물
/dist

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 변수 파일
.env
.env.local
.env.*.local

# Vite 캐시 및 임시 파일
.vite/
.idea/
.vscode/

# 운영체제 파일
.DS_Store
Thumbs.db
